<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .container{
      display: flex;
    flex-direction: column;
    align-items: center;
    }
</style>
<body>

<div class ="container">
    <h2>
        Welcome to register page
    </h2>
<form action="registerStore" method="post">
    <label>Name :</label> <br>
    <input type="text" name="name"> <br>
    <label> E-mail</label> <br>
    <input type="text" name="email" > <br>
    <label> Password</label> <br>
    <input type="password" name="password"> <br>
     <button>Submit</button>
</form>
<p th:if="${message}" th:text="${message}"></p>
<h3 th:if="${message}"> </h3>
<a th:if="${message}" href="login">Login</a>
    <div>
</body>
</html>