<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to ZenVault</title>
</head>

<body>

<h1>Welcome to ZenVault!</h1>

<p>Hello {{name}},</p>

<p>
    Your ZenVault account has been successfully created.
</p>

<p>
    You can now securely manage your financial activity
    from one place.
</p>

<p>
    Thank you for choosing ZenVault.
</p>

<p>
    © 2026 ZenVault<br>
    Secure • Simple • Reliable
</p>
<img src="cid:zenvaultLogo"
     alt="ZenVault Logo"
     width="150"
     height="60"
     style="display:block;">
</body>
</html>